.card {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    color: #202124;
    width: 335px;
    border: 1px solid #CECECE;
    border-radius: 8px;
    height: 495px;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 185px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.logo img {
    max-width: 116px;
    max-height: 116px;
}
.conteudo {
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    margin-bottom: 16px;
}

.baixo {
    /* margin-top: 75px; */
}
.tags {
    display: flex;
    gap: 10px;
}
.tag {
    color: #5F6369;
    font-weight: bold;
    border: 1px solid #5F6369 ;
    width: max-content;
    border-radius: 4px;
    padding:3px 4px 3px 4px;
    text-align: center;
}
.botao {
    margin-top: 15px;
}
.botao input[type="button"]{
    all: unset;
    border-radius: 4px;
    font-weight: bold;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: #1C73E8;
    border: 1px solid #CECECE;
    
}
.botao input[type="button"]:hover {
    cursor: pointer;
    background-color: #1C73E8;
    transition: 0.3s;
    color: #FFFFFF;
    border-color: #FFF;
}